<head>
<link rel="stylesheet" type="text/css" href="">
</head>

<body>
    <div></div>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" method="POST">
            <div>
                <label>username:</label>
                <input type="text" formControlName='username'>
            </div>
            <div>
                <label>password:</label>
                <input type="text" formControlName="password">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div></div>
</body>