<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit">

</head>

<body>

    <div style="width: 1536px; height: 729px; position: absolute; background: #171B26; border: 1px black solid">
        <img style="width: 575px; height: 370px; left: 800px; top: 85px; position: relative;object-fit:contain;"
            src="../../assets/homebg.png" />
        <div style="height: 379px; left: 103px; top: 100px; position: absolute">
            <div
                style="width: 547px; height: 114px; left: 0px; top: 0px; position: absolute; text-align: left; color: white; font-size: 80px; font-family: Outfit; font-weight: 400; line-height: 100px; word-wrap: break-word">
                Sales Forecast </div>
            <div
                style="width: 605px; height: 222px; left: 0px; top: 157px; position: absolute; color: white; font-size: 20px; font-family: Outfit; font-weight: 400; line-height: 24px; word-wrap: break-word">
                Empower your business decisions with our cutting-edge sales forecasting web application. Harness the
                power
                of data analytics and predictive insights to anticipate market trends, optimize resources, and drive
                your
                sales strategy with confidence. Elevate your forecasting precision and stay ahead in today's dynamic
                business landscape </div>
        </div>
        <button class="pure-button"
            style="width: 290px; height: 63px; left: 103px; top: 500px; position: absolute; background: #26A69A; border-radius: 30px;color: white;font-size: 24px;font-family: Outfit;"
            routerLink="/register">Register</button>
        <button class="pure-button"
            style="width: 290px; height: 63px; left: 418px; top: 500px; position: absolute; background: transparent;color: white;font-size: 24px;font-family: Outfit;;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 30px; border: 3px #830A0A solid;"
            routerLink="/login">Login</button>
    </div>
</body>